mixin picture(className, pathImage, pathImageMobile, link, name)
    picture
        source(media=`(min-width: ${minWidth}px)` srcset=`@img/${pathImage}/${link}.webp`)
        source(media=`(max-width: ${maxWidth}px)` srcset=`@img/${pathImageMobile}/${link}.webp`)
        source(media=`(max-width: ${maxWidth}px)` srcset=`@img/${pathImageMobile}/${link}.jpg`)
        img(
            class=`${className}__img`
            src=`@img/${pathImage}/${link}.jpg`
            alt=name
        )