include _pictures

mixin slider(blockName, className, items)
    div(class=`${blockName}__slider ${className}`)
        ul(class=`${className}__list ${className}-wrapper`)
          each item in items
              li(class=`${className}__item ${className}-slide`)
                  h3(class=`${className}__title`)= item.name
                  +picture(className, pathDestination, pathDestinationMobile, item.link, item.name)
        div(class=`${className}__pagination ${className}-pagination`)
